@import "../../style/setup.less";
@import "html2print.less";

.header,
.content-body,
.footer {
    box-sizing: border-box;
}


/* __________________________________ HEADER __________________________________ */
.header {
    height: @header-height;
    text-align: left;

    &:after {
        content: @header-text;
    }
}

/* __________________________________ MAIN SECTION __________________________________ */

#content-source {
    -webkit-flow-into: contentflow;
    flow-into: contentflow;
}

.content-target {
    -webkit-flow-from: contentflow;
    flow-from: contentflow;
}


/* __________________________________ FOOTER __________________________________ */
.footer {
    height: @footer-height;
    text-align: center;

    &:after {
        content: @footer-text;
    }
}


/* mirrored pages */
.paper {
    &:nth-child(odd) .header {
        text-align: right;
    }

    &:nth-child(odd) .content-area {
        margin-left: @page-margin-inside;
        margin-right: @page-margin-outside;
    }

    &:nth-child(even) .content-area {
        margin-left: @page-margin-outside;
        margin-right: @page-margin-inside;
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Avoids headings to be cut or to be orphans.
     * But it doesn't seem to work
     * if the element after has a page-break-inside avoid. It tries its best! */
    -webkit-region-break-inside: avoid;
    -webkit-region-break-after: avoid;
}

/* AN EXAMPLE TO AVOID PAGE BREAK INSIDE,
 * HERE NO PARAGRAPH WILL BE CUT,
 * BUT YOU MIGHT WANT TO DEACTIVATE THIS */
p {
    /*-webkit-region-break-inside: avoid;*/
}



